@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{

    padding: 0;
    margin: 0;

}

:root {
    --color-fondo: #F3F5FC; 
   
    --color-desencriptador:#FFFFFF;
    --color-botonencriptador:#0A3871;
    --color-botondesencriptador: #D8DFE8;
    --color-caja-principal-desencriptador:#495057;
    --color-letra-encriptador:#FFFFFF;
    --fuente-monserrat:"Montserrat", sans-serif;
    --fuenre-krona:"Krona One", sans-serif;
    --fuente-inter:"Inter", sans-serif;
  }
body{

    background-color:var(--color-fondo);
    box-sizing: border-box;

}

#exteriozar-texto-principal{
    font-size: 1.5rem;
    font-family: var(--fuente-inter);
    border: none;
    background-color:var(--color-letra-encriptador);
    color:  var(--color-caja-principal-desencriptador);
    font-weight: 700px;
}
#encriptar-desencriptar{
    font-size: 1.5rem;
    font-family: var(--fuente-inter);
    border: none;
    background-color:var(--color-letra-encriptador);
    color:  var(--color-caja-principal-desencriptador);
    font-weight: 700px;
}

#exteriozar-texto-secundario{
    font-size: 1.25rem;
    font-family: var(--fuente-inter);
    border: none;
    background-color:var(--color-letra-encriptador);
    font-weight: 400px;
}

#conversortexto{
    display: flex;
}
#Ingresar-texto{
    resize: none; /* Desactiva el redimensionamiento manual */
    overflow: hidden; /* Oculta las barras de desplazamiento */
    text-align: center;
    border: none;
    margin-top: 50px;
    margin-left: 240px;
    font-size: 2rem;
    font-family: var(--fuente-inter);
    border: none;
    background-color:var(--color-fondo);
}

.conversortexto__interaccion{
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
}

.conversortexto__interaccion_desencripta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 644px;
    background-color: #FFFFFF;
    border: 2px solid ;
    border-color: black;
    border-radius: 2rem;
    /* Arriba | Derecha | Abajo | Izquierda  margin: 0% 0% 0% 68%; */
   
}
.conversortexto__interaccion_desencripta textarea {
    resize: none; /* Desactiva el redimensionamiento manual */
    overflow: hidden; /* Oculta las barras de desplazamiento */
    margin-bottom: 10px; /* Espacio entre textareas */
    padding: 10px; /* Aumenta el padding para mejor visualización */
    Width:336px;
    Height:48px;
    text-align: center;
}
#encriptar{
    background-color:var(--color-botonencriptador);
    color:var(--color-letra-encriptador) ;
}
#desencriptar{
    background-color: var(--color-botondesencriptador);
}
.conversortexto__botones{
    gap: 1.5rem;
    margin-right: 80px;
}
.conversortexto__interaccion__botones{
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-family: var(--fuente-inter);
    font-size: 16px;

}


.footer{
    background-color: var(--color-terciario);
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 1.5rem;
}
.footer_texto{
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
    text-align: center;
    color: var(--color-primario);

}